*{
  outline: none!important
}

html{
}

a{
  color: #fff;
  text-decoration: none
}

a:hover{
  text-decoration: underline;
}

body{
  font-family: tahoma;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav{
  padding: 1rem;
  background-color: #292c35;
}

nav a{

}

main{
  padding: 2rem;
}
